{{template "layout" .}} 

{{define "title"}}Dashboard | Go Blog{{end}} 

{{define "links"}} {{end}} 

{{define "content"}}
  <h2>Tag</h2>
  <form class="vertical-form" method="post">
    <label>Descrição:</label>
    <input type="text" name="description" placeholder="Descrição da tag..." value="{{.Description}}" />
    <p class="error-message">{{.ValidationMessages.Description}}</p>
    
    <div class="actions">
      <p class="error-message"></p>
      <div class="btns">
        <a href="/admin/tags" class="btn link">Voltar</a>
        <a href="/admin/tags/delete/{{.Id}}" class="btn danger"  onclick="confirmarExclusao(event)">Excluir</a>
        <a href="/admin/tags/edit/{{.Id}}" class="btn primary">Editar</a>
      </div>
    </div>
  </form>
{{end}} 

{{define "scripts"}} {{end}}
