{{template "layout" .}} 

{{define "title"}}Dashboard | Go Blog{{end}} 

{{define "links"}} {{end}} 

{{define "content"}}
  <h2>Dados do post</h2>
  <form method="post">
    
    <label>Título:</label>
    <input type="text" name="title" placeholder="Título do post" value="{{.Title}}" disabled="disabled"/>
    <p class="error-message">{{.ValidationMessages.Title}}</p>

    <label>Resumo:</label>
    <div>
      <textarea name="abstract" rows="5" disabled="disabled">{{.Abstract}}</textarea>
    </div>
    <p class="error-message">{{.ValidationMessages.Abstract}}</p>
    
    <label>Conteúdo:</label>
    <div>{{.Content}}</div>
    <p class="error-message">{{.ValidationMessages.Lastname}}</p>

    <label>Slug:</label>
    <input type="text" name="slug" id="input-slug" placeholder="Gerado automaticamente" value="{{.Slug}}" disabled="disabled" />
    <p class="error-message"></p>

    <label>Categoria:</label>
    <select name="category" disabled="disabled">
      <option value="">Selecione</option>
      {{$post := .}}
      {{range .AllCategories}}
        {{$post.CategoryId}} {{.Id}}
        {{if eq $post.CategoryId .Id}}
          <option value="{{.Id}}" selected>{{.Description}}</option>
        {{ else }}
          <option value="{{.Id}}">{{.Description}}</option>
        {{end}}
      {{end}}
    </select>
    <p class="error-message">{{.ValidationMessages.Category}}</p>
    <div class="actions mt">
      <p class="error-message"></p>
      <div class="btns">
        <a href="/admin/posts" class="btn link">Voltar</a>
        <a href="/admin/posts/delete/{{.Id}}" class="btn danger"  onclick="confirmarExclusao(event)">Excluir</a>
        <a href="/admin/posts/edit/{{.Id}}" class="btn primary">Editar</a>
      </div>
    </div>
  </form>
{{end}} 

{{define "scripts"}} {{end}}
