{{define "layout"}}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{template "title" .}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/styles/main.css" />
    <link rel="stylesheet" href="/public/styles/dashboard.css" />

    {{template "links" .}}
  </head>
  <body>
    <main>
        <header>
            <h1><a href="/">GoBlog</a></h1>
            <nav>
                <ul>
                  <li class="{{.PostsActive}}"><a href="/admin/posts">Posts</a></li>
                  <li class="{{.PostsActive}}"><a href="/admin/categories">Categorias</a></li>
                  <li class="{{.UsersActive}}"><a href="/admin/users">Usuários</a></li>
                </ul>
                <ul>
                    <li><a href="/admin/users/view/{{.User.Id}}">Olá, {{.User.Firstname}}!</li>
                    <li class="exit"><a href="/logout">Sair</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            {{template "content" .}} 
        </div>
    </main>
    <script src="/public/scripts/dashboard-functions.js"></script>
    {{template "scripts" .}}
  </body>
</html>
{{end}}
